article {
  max-width: 20em;
  margin: 0 auto;
  font-size: 125%;
  text-align: center; }

section {
  margin-bottom: 2em; }

h1 {
  text-align: center; }

code {
  background: #333;
  padding: 0.5em;
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em;
  color: chartreuse;
  font-size: 75%; }

p {
  border-bottom: 2px dashed lightgrey;
  padding-bottom: 0.5em;
  margin-bottom: 1.25em; }

.serif {
  font-family: serif; }

.sans {
  font-family: sans-serif; }

.monospace {
  font-family: monospace; }

.cursive {
  font-family: cursive; }

.fantasy {
  font-family: fantasy; }
